@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
}

/*SECTION*/

header {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

nav {
    display: flex;
}

a {
    color: black;
}

.nav-item{
    font-weight: 700;
}

li {
    font-size: 14px;
    margin-left: 20px;
    text-transform: uppercase;
}

.header-block-paragraph {
    display: flex;
}

.header-paragraph {
    font-size: 20px;
    font-weight: 700;
}

.header-paragraph-color {
    font-size: 20px;
    background-color: #F4A460;
    color: #fff;
}

form {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px rgb(220,220,220,1);
    margin: 6rem 0 0 10rem;
    padding: 25px;
    line-height: 2;
    text-transform: uppercase;
}

.block-form-car {
    display: flex;
}

.form-paragraph {
    font-size: 10px;
    width: 160px;
    color: #BEBEBE;
}

input {
    display: block;
}

.input-button {
    display: block;
    background-color: orange;
    color: white;
    width: 200px;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
    margin-top: 15px;
    padding: 10px;
}

.image-jipe {
    width: 700px;
    margin: 5rem 0 0 6rem;
}

/*SECTION */

.work-title {
    text-align: center;
}

.block-turbo {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.work-paragraph {
    color: #BEBEBE;
    width: 200px;
    line-height: 1.5;
}

/*SECTION */

.block-car {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.choose-paragraph {
    color: #BEBEBE;
    line-height: 1.5;
    width: 322px;
}

.new-sale-paragraph {
    color: #B3B3B3;
    line-height: 2;
    margin: 0 10px 10px 10px;
}

.car {
    width: 200px;
}

.car-cost {
    display: flex;
}